{% extends "base.html" %}
{% block content %}
    <main class="container">
        <section class="row">
            <div class="col-12 col-lg-8">
                <h1 class="h3 my-5">Личный кабинет. Заказы</h1>
                {% for order in orders %}
                    <div class="mt-4 card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-7 col-lg-9">
                                        <span class="h5 font-weight-bold">{{ order.date.strftime("%d %B") }}</span>
                                        <span class="h5">- {{ order.total_cost() }} P</span>
                                    </div>

                                </div>
                            </li>
                            <div class="card-body">
                                <div class="row">
                                    {% for key, item in order.get_items().items() %}
                                        <p class="col-4 text-muted">{{ item.title }} </p>
                                        <p class="col-2 text-muted">{{ item.count }}</p>
                                        <p class="col-6 text-muted">{{ item.price*item.count }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </ul>
                    </div>
                {% endfor %}
                {% if not orders %}
                    <h1>Вы еще ничего не заказывали</h1>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}